<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pivotal Albums - Edit Album</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://pivotal.io/">
                <img src="images/PoweredByPivotal1.png"
                     th:src="@{images/PoweredByPivotal1.png}"
                     alt="FooterImage"
                     border="0"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <form th:action="@{/searchAlbums}" method="post" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="Search by Title" class="form-control" />
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right nav-pills">
                <li>
                    <a th:href="@{/}">
                        <img src="images/b_home.png"
                             th:src="@{images/b_home.png}"
                             alt="Home"
                             border="0"/>
                        Home
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/albums}">
                                <img src="images/s_tbl.png"
                                     th:src="@{images/s_tbl.png}"
                                     alt="Albums"
                                     border="0"/>
                                View Albums
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/killme}">
                                <img src="images/s_error.png"
                                     th:src="@{images/s_error.png}"
                                     alt="Kill Me"
                                     border="0"/>
                                Kill Me!!!
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/addnew}">
                                <img src="images/add16.gif"
                                     th:src="@{images/add16.gif}"
                                     alt="Add New"
                                     border="0"/>
                                Add New Album
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- NAVBAR CODE END -->
<div class="bs-example">
    <div class="page-header">
        <h1> Pivotal Albums - <small> Edit Album</small></h1>
    </div>
</div>

<div class="bs-example">
    <form  th:action="@{/editAlbum}" th:object="${album}" method="post" class="form-horizontal">
        <input type="hidden" th:value="${album.id}" name="id" />
        <div class="form-group">
            <label for="title" class="control-label col-xs-2">Title</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="title" name="title" th:value="${album.title}"
                       placeholder="Title" />
            </div>
        </div>
        <div class="form-group">
            <label for="artist" class="control-label col-xs-2">Artist</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="artist" name="artist" th:value="${album.artist}"
                       placeholder="Artist" />
            </div>
        </div>
        <div class="form-group">
            <label for="releaseYear" class="control-label col-xs-2">Release Year</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="releaseYear" name="releaseYear" th:value="${album.releaseYear}"
                       placeholder="Release Year" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Edit Album</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</div>

<hr size="2" />

<div th:include="footer :: copy"></div>

</body>
</html>